.mat-header-row {
  background: #f6f4f4;
}

.mat-header-cell {
  color: darkred;
  font-weight: bold;
  font-size: 15px;
  margin-left: auto;
  margin-right: auto;
  text-align: -webkit-center;
}

tr.mat-footer-row, tr.mat-row {
  text-align: -webkit-center;
}

.mat-row span {
  position: relative;
}

.mat-row td {
    height: 100%;
    /*padding-top: 1rem;
    padding-bottom: 1rem;*/
    border-bottom: none;
    position: relative;
    z-index: 1;
  }

.mat-row td::before {
      content: '';
      background-color: white;
      width: 100%;
      height: calc(100% - 0.5rem);
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      margin: auto;
      border-bottom: 1px solid #e0e0e0;
      border-top: 1px solid #e0e0e0;
}

.mat-row td:first-child:before {
      border-left: 1px solid #e0e0e0;
      border-top-left-radius: 0px solid lightgray;
      border-top-left-radius: 0px;
      border-bottom-left-radius: 0px;
}

.mat-row td:last-child:before {
      border-right: 1px solid #e0e0e0;
      border-top-right-radius: 0px solid lightgray;
      border-top-right-radius: 0px;
      border-bottom-right-radius: 0px;
}

.mat-row:hover td::before {
    border-color: gray;
    background-color:lightblue;
}

table.mat-table {
  width: 100%;
  border-spacing: 0;
}

.mat-header-row button {
  color: crimson !important;
}
