<section class="form_content">
    <form class="needs-validation was-validated" novalidate="">
        <div class="row">
            <div class="col-sm-4 text-left">
                <p class="text-uppercase" style="font-size:18px;color: #587792;"><span>Bệnh nhân</span></p>
            </div>
            <div class="col-sm-8 text-right">
                <div class="form-group">
                    <button type="button" class="btn btn-outline-success">Lưu (F3)</button>&nbsp;
                    <button type="button" class="btn btn-outline-success">Lưu & Thêm mới</button>&nbsp;
                    <button type="button" class="btn btn-outline-primary">Thêm mới</button>&nbsp;
                    <button type="button" class="btn btn-outline-primary">Trở về</button>&nbsp;
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div style="border-top:1px solid #dcdcdc; margin-bottom:10px">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-7">

                <div class="row">
                    <label class="col-md-2 control-label">Mã bệnh nhân</label>
                    <div class="col-md-4">
                        <mat-form-field class="example-full-width">
                            <input matInput placeholder="" value="">
                        </mat-form-field>
                    </div>
                    <label class="col-md-2 control-label">Barcode<span class="control-label-require"></span></label>
                    <div class="col-md-4">
                        <mat-form-field class="example-full-width">
                            <input matInput placeholder="" value="">
                        </mat-form-field>
                    </div>
                </div>

                <div class="row">
                    <label class="col-md-2 control-label">Họ và tên</label>
                    <div class="col-md-10">
                        <mat-form-field class="example-full-width">
                            <input matInput placeholder="HỌ VÀ TÊN" value="">
                        </mat-form-field>
                    </div>
                </div>

                <div class="row">
                    <label class="col-md-2 control-label">Ngày sinh</label>
                    <div class="col-md-4">
                        <mat-form-field class="example-full-width">
                            <input matInput [min]="minDate" [max]="maxDate" [matDatepicker]="picker" placeholder="Choose a date">
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                        </mat-form-field>
                    </div>
                    <label class="col-md-2 control-label">Giới tính</label>
                    <div class="col-md-4">
                        <mat-radio-group name="gioitinh" aria-labelledby="example-radio-group-label" class="example-radio-group" [(ngModel)]="favoriteSeason">
                            <mat-radio-button class="example-radio-button" *ngFor="let season of seasons" [value]="season">
                                {{season}}
                            </mat-radio-button>

                        </mat-radio-group>
                    </div>
                </div>

                <div class="row">
                    <label class="col-md-2 control-label">Điện thoại</label>
                    <div class="col-md-4">
                        <mat-form-field class="example-full-width">
                            <input matInput placeholder="" value="">
                        </mat-form-field>
                    </div>
                    <label class="col-md-2 control-label">Email<span class="control-label-require"></span></label>
                    <div class="col-md-4">
                        <mat-form-field class="example-full-width">
                            <input matInput placeholder="" value="">
                        </mat-form-field>
                    </div>
                </div>

                <div class="row">
                    <label class="col-md-2 control-label">Địa chỉ</label>
                    <div class="col-md-10">
                        <mat-form-field class="example-full-width">
                            <textarea matInput placeholder="Địa chỉ"></textarea>
                        </mat-form-field>
                    </div>
                </div>

                <div class="row">
                    <label class="col-md-2 control-label">Upload file</label>
                    <div class="col-md-10">
                        <div class="custom-file">
                            <input type="file" class="custom-file-input" id="inputGroupFile01" aria-describedby="inputGroupFileAddon01">
                            <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
                        </div>
                    </div>
                </div>

            </div>

            <div class="col-sm-5">

            </div>
        </div>
        <div class="row">
        </div>
    </form>
</section>
<!--<div class="row">
  <div class="col-md-12">
    <app-multi-combobox #combo1></app-multi-combobox>
  </div>
</div>-->