<nav id="main-nav">
    <!-- Sample menu definition -->
    <ul id="main-menu" class="sm sm-blue">
        <li><a>Trang chủ</a></li>
        <li>
            <a>Danh mục</a>
            <ul>
                <li>
                    <a [routerLink]="['employee']" routerLinkActive="active">Quản lý nhân viên</a></li>
                <li><a>Demos + themes</a></li>
                <li><a>The author</a></li>
                <li>
                    <a>The company</a>
                    <ul>
                        <li><a href=" ">About Vadikom</a></li>
                        <li><a href=" ">Projects</a></li>
                        <li><a href=" ">Services</a></li>
                        <li><a href=" ">Privacy policy</a></li>
                    </ul>
                </li>
            </ul>
        </li>
        <li><a [routerLink]="['formcheck']" routerLinkActive="active">Download</a></li>
        <li>
            <a href=" ">Support</a>
            <ul>
                <li><a href=" ">Premium support</a></li>
                <li><a href=" ">Forums</a></li>
            </ul>
        </li>
        <li><a href=" ">Docs</a></li>
        <li>
            <a href="# ">Sub test</a>
            <ul>
                <li><a href="# ">Dummy item</a></li>
                <li><a href="# ">Dummy item</a></li>
                <li><a href="# " class="disabled ">Disabled menu item</a></li>
                <li><a href="# ">Dummy item</a></li>
                <li>
                    <a href="# ">more...</a>
                    <ul>
                        <li><a href="# ">A pretty long text to test the default subMenusMaxWidth:20em setting for the sub menus</a></li>

                        <li><a href="# ">Dummy item</a></li>
                        <li>
                            <a href="# ">more...</a>
                            <ul>
                                <li><a href="# ">Dummy item</a></li>
                                <li><a href="# " class="current ">A 'current' class item</a></li>
                                <li><a href="# ">Dummy item</a></li>
                                <li>
                                    <a href="# ">more...</a>
                                    <ul>
                                        <li><a href="# ">subMenusMinWidth</a></li>
                                        <li><a href="# ">10em</a></li>
                                        <li><a href="# ">forced.</a></li>
                                    </ul>
                                </li>
                                <li><a href="# ">Dummy item</a></li>
                                <li><a href="# ">Dummy item</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
        <li>
            <a href="# ">Mega menu</a>
            <ul class="mega-menu ">
                <li>
                    <!-- The mega drop down contents -->
                    <div style="width:400px;max-width:100%; ">
                        <div style="padding:5px 24px; ">
                            <p>This is a mega drop down test. Just set the "mega-menu " class to the parent UL element to inform the SmartMenus script. It can contain <strong>any HTML</strong>.</p>
                            <p>Just style the contents as you like (you may need to reset some SmartMenus inherited styles - e.g. for lists, links, etc.)</p>
                        </div>
                    </div>
                </li>
            </ul>
        </li>
    </ul>
</nav>