<div class="main_header">
  <app-header></app-header>
</div>

<div class="container">
  <router-outlet></router-outlet>
  <!-- <app-employee-list></app-employee-list> -->
  <!-- <app-dialog-example></app-dialog-example> -->
  <!--<div class="row">
    <div class="col-md-4 order-md-2 mb-4">
      <app-cartcomponent></app-cartcomponent>
    </div>

    <div class="col-md-8 order-md-1">
      <app-formcheckcomponent></app-formcheckcomponent>
    </div>

  </div>
  <app-gridcomponent></app-gridcomponent>-->
  <!-- <footer class="my-5 pt-5 text-small">
      <div class="text-center">
          <p class="mb-1">© 2019 SIM</p>
      </div>
  </footer> -->
</div>
