<div class="container">
    <form (ngSubmit)="submitData(myGroup.value)" [formGroup]="myGroup" (keydown.enter)="$event.preventDefault()" class="justify-content-md-center">
        <div class="row">
            <label for="" class="col-md-4 control-label">First Name</label>
            <mat-form-field class="col-md-8">
                <input matInput formControlName="firstname">
            </mat-form-field>
        </div>

        <div class="row">
            <label for="" class="col-md-4 control-label">Last Name</label>
            <mat-form-field class="col-md-8">
                <input matInput formControlName="lastname">
            </mat-form-field>
        </div>
        <div class="row">
            <label class="control-label col-md-4" for="gender">Gender:</label>
            <mat-form-field class="col-md-8">
                <mat-select matNativeControl formControlName="gender">
                    <mat-option [value]="0" selected>Please Select</mat-option>
                    <mat-option *ngFor="let gender of Gender" [value]="gender.id">{{gender.name}}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="row">
            <label class="control-label col-md-4" for="email">Email:</label>
            <mat-form-field class="col-md-8">
                <input matInput formControlName="email">
            </mat-form-field>
        </div>
        <div class="row ">
            <label class="col-md-4 control-label " for="birthday">Birthday</label>
            <mat-form-field class="col-md-8 ">
                <input matInput [matDatepicker]="picker " formControlName="birthday">
                <mat-datepicker-toggle matSuffix [for]="picker "></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
        </div>
        <div class="row">
            <label class="col-md-4"></label>
            <mat-checkbox class="col-md-8" formControlName="issingle" style="padding-bottom: 20px">Single</mat-checkbox>
        </div>

        <div class="row" style="padding-bottom: 20px">
            <label for="graduation" class="control-label col-md-4">Graduation</label>
            <mat-radio-group aria-label="Select an option" class="col-md-8" style="margin-bottom: auto;margin-top: auto" formControlName="graduation">
                <mat-radio-button value="1" style="margin-right: 10px">Excellent</mat-radio-button>
                <mat-radio-button value="2">Good</mat-radio-button>
            </mat-radio-group>
        </div>
        <div style="display: none">
            <input type="button" formControlName="id">
        </div>

        <div>
            <button mat-flat-button type="button" color="primary" style="margin-right: 10px" (click)="AddRow()">Add Row</button>
        </div>

        <ng-container formArrayName="functionArray">
            <mat-table class="table table-bordered table-sm" [dataSource]="datasource">
                <mat-header-row *matHeaderRowDef="cols"></mat-header-row>
                <mat-row *matRowDef="let row; columns: cols;"></mat-row>

                <ng-container matColumnDef="functionId">
                    <mat-header-cell *matHeaderCellDef> ID </mat-header-cell>
                    <mat-cell *matCellDef="let element; let index = index" [formGroupName]="index">
                        <mat-form-field style="width: 100px;">
                            <input matInput type="text" formControlName="functionId">
                        </mat-form-field>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="functionName">
                    <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
                    <mat-cell *matCellDef="let element; let index = index" [formGroupName]="index">
                        <mat-form-field style="width: 100px;">
                            <input matInput type="text" formControlName="functionName" (keydown)="onKeydown($event, index)" (focusout)="changeName($event.target.value, index)">
                        </mat-form-field>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="functionNote">
                    <mat-header-cell *matHeaderCellDef> Note </mat-header-cell>
                    <mat-cell style="width: 100%" *matCellDef="let element; let index = index" [formGroupName]="index">
                        <mat-form-field style="width: 100px;">
                            <input matInput type="text" formControlName="functionNote">
                        </mat-form-field>
                    </mat-cell>
                </ng-container>
            </mat-table>
        </ng-container>

        <div class="row" style="text-align: right">
            <div class="col-sm-12">
                <button id="btnsubmit" type="submit" mat-flat-button color="primary" style="margin-right: 10px">Submit</button>
                <button id="btnCancel" type="button" class="btn btn-danger" (click)="takeHome()">Cancel</button>
            </div>
        </div>
    </form>
</div>